.container {
  padding: 1rem;
  border: 1px solid var(--gray-800);
  position: relative;

  display: grid;
  grid-template-rows: auto 1fr auto auto;
  gap: 1rem;

  h2 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rate {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2rem;
  height: 2rem;
  
  display: grid;
  place-items: center;
  
  background-color: var(--gray-100);
  color: var(--gray-900);
  box-shadow: 0 0 16px 4px rgba(255, 255, 255, 0.2);

  font-family: monospace;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: -1px;
  line-height: 1;
  
  border-radius: 50%;
}

.author {
  color: var(--gray-400);
}

.dates {
  border-top: 1px solid var(--gray-800);
  padding-top: 1rem;
  display: grid;
  gap: 0.25rem;

  p {
    font-size: 0.875rem;
    color: var(--gray-500);
  }
}

.actions {
  display: flex;
  gap: 0.5rem;

  button {
    flex: 1;
  }
}

